<div class="ar pv-50 ph-5p"> 
	<div class="ac l25 m50 s100">
		<div class="mb-20">
			<h5 class="font-weight-400 white mb-30">SEO SCORE</h5>
			<p class="font-size-16 line-height-26 white font-weight-300">Test your site now and get the reliable and accurate information you for your online presence</p>

		</div>
		<div>
			<button class="bg-light-blue white">Check Your Score</button>
		</div>
	</div>
	<div class="ac l25 m50 s100">
		<div>
			<h5 class="font-weight-400 white mb-30">USEFUL LINKS</h5>
			<ul>
				<li class="pv-10">
					<a class="pb-3 aione-border-bottom border-white" href="#">
						<span class="font-size-15 font-weight-300 white">Ecommerce SEO Services</span>
					</a>
				</li>
				<li class="pv-10">
					<a class="pb-3 aione-border-bottom border-white" href="#">
						<span class="font-size-15 font-weight-300 white">Search Engine Optimization</span>
					</a>
				</li>
				<li class="pv-10">
					<a class="pb-3 aione-border-bottom border-white" href="#">
						<span class="font-size-15 font-weight-300 white">Pay Per Click Marketing</span>
					</a>
				</li>
				<li class="pv-10">
					<a class="pb-3 aione-border-bottom border-white" href="#">
						<span class="font-size-15 font-weight-300 white">Local SEO Services</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="ac l25 m50 s100">
		<div class="mb-30">
			<h5 class="font-weight-400 white">LATEST PROJECTS</h5>
		</div>
		<div class="ar">
			<div class="ac l33 m33 s33">
				<a href="#">
					<img src="assets/images/footer1.jpg">
				</a>
			</div>
			<div class="ac l33 m33 s33">
				<a href="#">
					<img src="assets/images/footer2.jpg">
				</a>
			</div>
			<div class="ac l33 m33 s33">
				<a href="#">
					<img src="assets/images/footer3.jpg">
				</a>
			</div>
			<div class="clear pv-5"></div>
			<div class="ac l33 m33 s33">
				<a href="#">
					<img src="assets/images/footer4.jpg">
				</a>
			</div>
			<div class="ac l33 m33 s33">
				<a href="#">
					<img src="assets/images/footer5.jpg">
				</a>
			</div>
			<div class="ac l33 m33 s33">
				<a href="#">
					<img src="assets/images/footer6.jpg">
				</a>
			</div>
		</div>
	</div>
	<div class="ac l25 m50 s100">
		<div>
			<h5 class="font-weight-400 white mb-30">CONTACT DETAILS</h5>
			<p class="font-size-16 line-height-26 font-weight-300 white mb-10">Get in touch today to discover how we can benefit your business.</p>
			<ul>
				<li class="pv-5">
					<span class="font-size-16 white font-weight-300"><i class="fa fa-map-marker white font-size-20 pr-10"></i>#158,Shivaji Park Road Rani ka Bagh, Amritsar</span>
				</li>
				<li class="pv-5">
					<span class="font-size-16 white font-weight-300"><i class="fa fa-envelope white font-size-20 pr-10"></i> info@oxosolutions.com</span>
				</li>
				<li class="pv-5">
					<span class="font-size-16 white font-weight-300"><i class="fa fa-phone white font-size-20 pr-10"></i> +919914149090</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<style type="text/css">
	.aione-footer{
		text-align: left;
	}
</style>